body{
    padding: 0;
    margin: 0;
    font-family: 'roboto', sans-serif;
}
/* CSS OF HEADER */
header{
    background-color: #000000;
    color: white;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 40px;
}
header>p{
    color : white;
    font-size: 18px;
}
header>p>a{
    color : white;
    font-size: 18px;
}

header button{
    position: absolute;
    right: 50px;
    background: #000000;
    color: white;
    font-size: 18px;
    border: none;
    cursor: pointer;
}

/* CSS OF NAV */

    nav{
        text-align: center;
        display: flex;
        justify-content: space-between;
        align-items: center;
        height: 5rem;
        padding: 0 2rem;
    }
    nav>a{
        color: black;
        text-decoration: none;
        font-size: 26px;
        font-weight: bold;
    }
    nav ul{
        display: flex;
        list-style-type: none;
        justify-content: space-between;
        align-items: center;
        width: 300px;
    }
    nav ul li a{
        text-decoration: none;
        color: black;
        font-size: 16px;
    }
    nav .search-nav{
        display: flex;
        align-items: center;
        padding: 16px;
        width:30rem;
        background-color: #f0f0f0;
        height: 1rem;
        border-radius: 50px;
    }
    nav .search-nav i{
        color: gray;
        font-size: 18px;
        padding: 0 6px;
        font-weight: light;
    }
    nav .search-nav input{
        width: 80%;
        border: none;
        background-color: #f0f0f0;
        font-size: 16px;
        outline: none;

    }
    nav .icons-box i{
        font-size: 20px;
        margin-left: 15px;
        cursor: pointer;
    }
    /* CSS for Hero-Container */
   
    main .hero-container{
        display: flex;
        justify-content: center;
        background-color: #f0f0f0;
        height: 100vh;
    }
    main .hero-container .left-box{
        display: flex;
        justify-content: center;
        flex-direction: column;
        width: 45%;
        height: 80vh;
        padding-top: 4rem;
        padding-left: 96px;
    }
    main .hero-container .left-box > h1{
        font-size: 60px;
        font-weight: bold;
        margin: 0;
    }
    main .hero-container .left-box p{
        color: rgb(68, 67, 67);
    }
    main .hero-container .left-box button{
        background: #000000;
        color: white;
        padding: 20px 20px;
        border: none;
        cursor: pointer;
        border-radius: 50px;
        font-size: 20px;
        width: 13rem;
    }
    main .hero-container .left-box button:hover{
        background: gray 800px;
    }
    main .hero-container .left-box .sale-counter{
        display: flex;
        justify-content: space-between;
        margin: 30px 0;
    }
    main .hero-container .left-box .sale-counter h1{
        font-size: 40px;
        font-weight: bold;
        margin: 0;
        margin-top: 2px;
    }
    main .hero-container .left-box .sale-counter p{
        margin: 0;
        
    }
    
    main .hero-container .right-box{
        display: flex;
        justify-content: center;
        /* width: 45%; */
        height: 100vh;
        padding-bottom: 2rem;
        padding-left: 2rem;
    }
    main .partners{
        display: flex;
        justify-content: space-between;
        background: #000;
        align-items: center;
        padding: 2rem;
    }
    /* CSS for Featuerd product */

    main .featured-products{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        /* padding: 2rem 0; */
        /* margin: 0; */
        /* width: 100%; */
        /* border: 1px solid red; */
        /* height: 100vh;  */
    }
    main .featured-products >h1{
        font-size: 40px;
        font-weight: bold;
        text-transform: uppercase;
        margin: 4rem;
    }
    main .featured-products .products-container{
        display: flex;
        justify-content: space-around;
        align-items: center;
        cursor: pointer;
        /* width: 90vw; */
        /* padding: 1.25rem 0; */

    }
    main .featured-products .products-container .product-box{
        display: flex;
        justify-content: space-evenly;
        flex-direction: column;
        width: 22%;
        height:25rem;
        /* background: #f0f0f0; */
        /* border: 1px solid black; */
       
        /* padding: 1rem; */
    }
    main .featured-products .product-box img{
        width: 100%;
        height: 80%;
        
    }

    main .featured-products .product-box .product-text{
        display: flex;
        justify-content: space-between;
        flex-direction: column;
        height: 100px;
        /* border: 1px solid red; */
    } 
    main .featured-products .product-box .product-text h4{
        margin: 5px 0;
    }
    main .featured-products .product-box .product-text .rate-product{
        display: flex;
        align-items: center;

    }
    main .featured-products .product-box .product-text .rate-product>p{
        margin: 3px 20px;
    }
    main .featured-products .product-box .product-text .price{
        margin: 5px;
        font-weight: bold;
        
    }
    main .featured-products .product-box .product-text .price i{
        margin: 5px;
        font-weight:bold;
        
    }
    main .featured-products .product-box .product-text .price>span{
        margin: 5px 0;
        color: grey;
        text-decoration:line-through ;
        
    }
    main .featured-products .product-box .product-text .price>span>i{
        margin: 5px 5px;
        color: grey;
        text-decoration:line-through ;
        
    }
    main .featured-products .product-box .product-text .price>span:nth-last-child(1){
        background-color:salmon;
        border-radius: 15px;
        color: rgb(239 68 68);
        font-weight: 100;
        font-size: 16px;
        padding: 6px 8px;
        
        
        
    }
    main .featured-products button{
        font-size: 18px;
        font-weight: 500;
        /* padding:15px  100px; */
        width: 218px;
        height: 52px;
        margin:  3rem 0;
        border-radius: 50px;
        background-color: white;
        border: 1px solid rgb(158, 158, 158);
        
    }
    hr{
        margin: 1rem 0 0 0;
        color:#ebedf3;
    }
    /* CSS for Dress styles */
    main .dress-style-container{
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 0 6rem;
        border: none;
        border-radius: 10px;
        flex-direction: column;
        padding: 2rem 0;
        background-color:rgb(240,240,240);
    }
    main .dress-style-container>h1{
        font-size: 40px;
        font-weight: bold;
        text-transform: uppercase;
        margin: 3.5rem;
    }
    main .dress-style-container .dress-style .dress-box img{
        margin : 3px;
        
    }

    /* CSS for footer */

    footer{
        background-color: #F0F0F0;
        color: white;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
        padding: 2rem;
        margin: 0;
        margin-top: 5rem ;
    }
    footer .newsletter{
        display: flex;
        justify-content: space-around;
        align-items: center;
        width: 90%;
        height: 10rem;
        border-radius: 10px;
        background-color: #000000;
        margin: 0;
        position: relative;
        bottom :100px;
    }
    footer .newsletter p{
        font-size: 36px;
        font-family: sans-serif;
        color: white;
        font-weight: bold;
        text-transform: uppercase;
        width: 50%;
        line-height: 2.5rem;
        padding-left: 3rem;

    }
    footer .newsletter .newsletter-box{
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;
        width: 50%;
        gap: 1rem;
    }
    footer .newsletter .newsletter-box input{
        width: 18rem;
        height: 40px;
        border: none;
        border-radius: 50px;
        outline: none;
        padding-left:8px ;
        font-size: 16px;

    }
    footer .newsletter .newsletter-box button{
        width: 19rem;
        height: 40px;
        border: none;
        border-radius: 50px;
        outline: none;
        padding-left:15px ;
        font-size: 16px;

    }

    footer .footer-container{
        display: flex;
        justify-content: space-around;
        align-items: center;
        width: 90%;
        background-color: #F0F0F0;
        color: black;   
        margin: 0;
    }
    footer .footer-container .footer-logo{
        display: flex;
        justify-content: space-around;
        flex-direction: column;
        width: 20%;
        background-color: #F0F0F0;
        color: black;   
        margin: 0;
    }
    footer .footer-container .footer-logo>h2{
        font-size: 30px;
        font-weight: bold;
        margin: 0;
    }
    footer .footer-container .footer-logo p{
        
        padding-top: 8px;
        color: grey;
    }
    footer .footer-container .footer-logo .footer-icons i{
        font-size: 28px;
        margin: 10px;
        box-sizing: border-box;
    border: 0 solid #e5e7eb;
        /* background-color: grey; */
        /* border-radius: 50px; */
                
    }
    footer .footer-container .footer-links{
        display: flex;
        justify-content: space-around;
        align-items: center;
        margin: 0;
        width: 75%;
    }
    footer .footer-container .footer-links p{
        text-transform: capitalize;
        color:grey
    }

    footer .footer-bottom{
        display: flex;
        justify-content: space-between;
        align-items: center;
        color: grey;
        list-style-type: none;
        width: 90%;
    }
    footer .footer-bottom i{
        font-size: 28px;
        margin: 10px;
        color: black;

    }
    footer hr{
        width: 90%;
        color: rgb(158, 158, 158);
    }
