body{
    margin: 0;
    padding: 0;

}
main{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color:rgb(226 232 240);;
}
main .sign-up-container{
    display: flex;
    flex-direction: column;
    justify-content: top;
    align-items: center;
    height: 85vh;
    width: 30%;
    border-radius: 10px;
    background-color: white;
   
}
main .sign-up-container h1{
    font-size: 2rem;
    margin-bottom: 1rem;
}
main .sign-up-container input{
    width: 80%;
    height: 2rem;
    margin-bottom: 1rem;
    padding: 0.5rem;
    border-radius: 10px;
    border: 1px solid #ccc;
    font-size: 16px;
} 
main .sign-up-container button{
    width: 85%;
    height: 3rem;
    margin-bottom: 1rem;
    padding: 0.5rem;
    border-radius: 50px;
    border: 1px solid #ccc;
    font-size: 16px;
    background-color: #000000;
    color: white;
    cursor: pointer;
}  
main .sign-up-container button:hover{
    background-color: #131313;
    color: white;
}

main .sign-up-container p>a{
    background-color: purple;
    text-decoration: none;
    color: white;
    height: 1rem;
    padding: 0.5rem;
    border: none;
    border-radius: 50px;
    margin-left: 10px;
}
main .sign-up-container a{
    text-decoration: none;
    color:rgb(92, 146, 228);
    font-size: 16px;
}